<div id="zip-search">
    <div>
        <div class="row">
            <div class="col-md-12 form-inline my-2 my-lg-0 pull-left">
                <input (keyup.enter)="postQuery(query.value)" #query class="form-control mr-sm-2" type="text" placeholder="Search Airports, Trains, Locations, and Airlines">
                <button (click)="postQuery(query.value);" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                
            </div>
            <div class="pull-right" [hidden]="!loading">
                <i class="fa-li fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="resultsReady">
        <div class="card-block row">
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item active font-weight-bold">Airlines:</li>
                    <li class="list-group-item" *ngFor="let airline of results?.airlines ">
                        {{airline.name}} {{airline.iata}}/{{airline.icao}}
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-group">
                        <li class="list-group-item active font-weight-bold">Airports:</li>
                    <li class="list-group-item" *ngFor="let airport of results?.airports">
                        {{airport.name}} {{airport.iata}}/{{airport.icao}}
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item active font-weight-bold">Locations:</li>
                    <li class="list-group-item" *ngFor="let zipcode of results?.zipcodes">
                        {{zipcode.city}} / {{zipcode.state}} - {{zipcode.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>